<div class="container">
  <div class="mt-4">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Handle</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>
        <a href="/movies/{{this._id}}/edit">
            <button type="button" class="btn btn-primary">Update</button>
        </a>
      </td> 
      <td>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>